<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All tests suite" verbose="1">
    <test name="smoke">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <packages>
            <package name="tests.*"></package>
        </packages>
    </test>

    <test name="critical-path">
        <groups>
            <run>
                <include name="critical-path"/>
            </run>
        </groups>

        <packages>
            <package name="tests.*"></package>
        </packages>
    </test>

    <test name="regression">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>

        <packages>
            <package name="tests.*"></package>
        </packages>
    </test>
</suite>
